<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908584196503-dmfu454usdqak88sdho71hiekpjea248.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908584196503-dmfu454usdqak88sdho71hiekpjea248</string>
	<key>API_KEY</key>
	<string>AIzaSyDTgtmjTo5WSQTEjO5zcwfkdEJ_xJLViDo</string>
	<key>GCM_SENDER_ID</key>
	<string>908584196503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assignmentpro.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>assignmentpro-5eb77</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmentpro-5eb77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908584196503:ios:7a67ca74eac1bd173b0cd2</string>
</dict>
</plist>